

body {
    font-family: Arial, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

table{
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 50px;
    border: none;

}
tr{
    margin: 20px;
    border-bottom: 1px solid gray;
}
tr:last-child {
    border-bottom: none; 
}
td , th{
    text-align: center;
    padding: 20px;
    
    height: 20px;
    border: none;
}

span{
    width: 130px;
    
    border: 1px solid;
    border-radius: 25px;
    padding: 10px;
}
header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #2e4057;
    text-align: center;
    color: #f4f4f4;

}

.contenido {
    display: flex;
}


.menu {
    margin-top: 100px;
    position: fixed;
    width: 15%;
    background-color: #2e4057;
    color: #fff;
    padding: 20px;
    height: 100vh; 
    
}

.menu h2 {
    text-align: center;
    margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #575757;
}


.contenido_derecha {
    margin-top: 150px;
    margin-left: 20%;
    border-color: aliceblue;
    height: 100vh;
    flex-grow: 1;
    padding: 20px;
}

header h1{
    padding-top: 30px;
}

button {
    background-color: #4CAF50;
    color:white;
    border: 2px solid #4CAF50;
    padding: 9px 19px;
    border-radius: 4px;
    cursor: pointer;

}

form {
    width: 300px;
    padding-left: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#buscador{
    width: 20%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.cancelar{
    background-color: transparent;
    color: black;
    border: 2px solid #4CAF50;
}

#buscador{
    margin-bottom: 30px;
}